/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes move-arrow {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(4px); 
  }
}

@keyframes scale-heart {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes sparkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.card__icon-button:hover .main-body {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .core {
  fill: var(--heart-contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:active .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--heart-sparks-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparkle 0.3s ease-in 0.3s both;
}

.heart__button.is-liked .heart {
  animation: scale-heart 0.3s ease-in 0.1s both;
}

.sparks {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.main-body {
  transition: fill 0.3s linear 0.05s;
}

.core {
  transition: fill 0.3s linear, fill 0.3s linear 0.03s;
}
