/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --card-title-weight: 700;
  --card-text-weight: 400;
  --background-color: #fff;
  --accent-color: #000;
  --stripe-color: #d3d3d3;
  --background-gradient-start: #e7e7e7;
  --background-gradient-end: #1a1a1a;
  --stroke-color: #fff;
  --button-hover-color: #fff;
  --heart-contour-color: #000;
}

:root.theme-dark {
  --card-title-weight: 785;
  --card-text-weight: 465;
  --background-color: #000;
  --accent-color: #00cc14;
  --stripe-color: #000;
  --background-gradient-start: #007f0c;
  --background-gradient-end: #004306;
  --stroke-color: #000;
  --button-hover-color: #00cc14;
  --heart-contour-color: #00cc14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-title-weight: 785;
    --card-text-weight: 465;
    --background-color: #000;
    --accent-color: #00cc14;
    --stripe-color: #000;
    --background-gradient-start: #007f0c;
    --background-gradient-end: #004306;
    --stroke-color: #000;
    --button-hover-color: #00cc14;
    --heart-contour-color: #00cc14;
  }
}
